RESEND_API_KEY=
OTP_SECRET=
PADDLE_API_KEY=
PADDLE_WEBHOOK_SECRET=
PADDLE_CLIENT_TOKEN=
PADDLE_PRICE_STARTER_MONTHLY=
PADDLE_PRICE_GROWTH_MONTHLY=
PADDLE_PRICE_PRO_MONTHLY=
PADDLE_PRICE_STARTER_YEARLY=
PADDLE_PRICE_GROWTH_YEARLY=
PADDLE_PRICE_PRO_YEARLY=
